h2 ES6 dojo - GDG Coding Dojo Jihlava

ul
  li Názvy cvičení korespondují s názvy složek na filesystému, kde budete upravovat zdrojový kód
  li Z návodu se můžete prokliknout přímo na jednotlivá cvičení.
  li Názvy a čísla nadpisů v návodech korespondují s TODO ve zdrojových kódech

h4 Nápovědy
ul
  li V návodu narazíte často na modré nápovědy, nebojte se je využít.

hint Nápovědy se nebojte využívat pokud si nejste jisti.

h4 Řešení k jednotlivým úkolům
ul
  li Pokud si i přesto nebudete vědět rady, jsou v návodech také řešení. Ty si nechte ale až jako poslední možnost.

solution.
  K zobrazení řešení sahejte až když se přestanete cítit ve cvičení komfortně.
