{
  "env": {
    "browser": true,
    "mocha": true
  },
  "extends": "airbnb",
  "globals": {
    "sinon": true,
    "expect": true
  },
  "parser": "babel-eslint",
  "plugins": [
      "react"
  ]
}
